
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
.idea/
supervisord.*
*.DS_Store
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###> symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

doc/

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
