default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Context\FeatureContext:
                    kernel: '@kernel'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: 'vendor/autoload.php'
                path: 'src/Kernel.php'
                class: 'App\Kernel'
        Behat\MinkExtension:
              base_url: ""
              sessions:
                default:
                  symfony2: ~
        Behatch\Extension: ~
