{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-responsive right-block save" name="button">{{ 'packaging.form.button.save'|trans }}</button>
{{ form_end(form) }}
