{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
        <h1>Setting Type Storage</h1>

    <div class="card ">
        vos storage
    </div>

{% endblock %}