{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-warning text-dark">
                <div class="card-header alert-warning text-center">
                    <h4>
                        Aliments à manger sinon périmé
                    </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title ">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-success text-dark">
                <div class="card-header alert-success text-center">
                    <h4>
                        Recette pour aider
                    </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}